# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Virtual environments =====
venv/
.venv/
env/
.env/

# ===== Logs & generated data =====
*.csv
*.log

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Editor / IDE =====
.vscode/
.idea/
*.swp
*.swo

# ===== Arduino build artifacts =====
*.hex
*.elf

# ===== Temporary files =====
*.tmp
*.bak

# ===== Library =====
Lib
